@page
@model Diplom_Utkin.Pages.AdminePage.RequestsModel
@{
	ViewData["Title"] = "Кабинет";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="window-box kabinet-box kabinetHeight">
	@await Html.PartialAsync("Headers/_AdminHeader")

	<section>
		<div id="overlay" class="overlay"></div>
		<div id="sideMenu" class="side-menu">
			<h1>Профиль</h1>
			<form method="post" onsubmit="return Update_Method_Profile(event)">
				<div class="myRow">
					<div class="form-group">
						<label asp-for="_user.Loggin" class="control-label">E-mail</label>
						<input asp-for="_user.Loggin" class="form-control" id="portfile_mail" type="email" required disabled />

					</div>
					<div>
						<a onclick="updateLogin()"><img class="svgEdit" src="/Image/icon-edit.svg" /></a>

					</div>
				</div>
				<span asp-validation-for="_user.Loggin" class="text-danger"></span>

				<div class="myRow">
					<div class="form-group">
						<label asp-for="_user.Phone" class="control-label">Телефон</label>
						<input asp-for="_user.Phone" class="form-control" id="portfile_phone" type="tel" required disabled />

					</div>
					<div>
						<a onclick="updatePhone()"><img class="svgEdit" src="/Image/icon-edit.svg" /></a>
					</div>
				</div>
				<span asp-validation-for="_user.Phone" id="profilePhoneError" class="text-danger"></span>
				<button class="myButton" style="display:none" name="action" id="portfile_save_btn" value="NoN">Сохранть</button>
			</form>
		</div>
		<div id="popup" class="popup kabinetSupportBox">
			<div class="poputContent">
				<div class="top_">
					<div>
						<form method="post">
							<button name="NoN"><img src="/Image/krest.png" alt="Alternate Text" /></button>
						</form>
					</div>
				</div>

				@* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
				<form id="optionForm" method="post">
					<h1>Детали</h1>
					<input style="visibility:hidden; height:1px;" name="TargetbrokerId" id="targetId" type="number" />

					<div class="form-group myRow">
						<label id="BrokerName"></label>
					</div>
					<div class="dataSlice">
						<label id="brokerINN"></label>
						<label id="brokerKPP"></label>
						<label id="brokerOTKMO"></label>
						<label id="brokerPhone"></label>
						<label id="brokerAddress"></label>
						<label id="brokerEmail"></label>
					</div>
					<div class="myRow">
						<button id="positive_btn" class="myButton" name="action" type="submit" value="positive_btn">Принять</button>
						<button id="negative_btn" class="myButton" name="action" type="submit" value="negative_btn">Отклонить</button>
					</div>
				</form>

				@* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
				<div id="CreateForm" class="form-block">
					<form onsubmit="return validationCreateBroker(event)" method="post">
						<h1>Добавить</h1>

						<div class="myRow">
							<div class="dataSlice">
								<div class="form-group">
									<label class="control-label">Выберите иконку</label>
									<input class="form-control" type="file" accept=".jpg, .jpeg, .png" id="BrokerImgCreate" />
									<span class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label">Название</label>
									<input asp-for="Broker.NameBroker" class="form-control" type="text" id="BrokerNameCreate" required />
									<span class="text-danger" asp-validation-for="Broker.NameBroker"></span>
								</div>
								<div class="form-group">
									<label class="control-label">ИНН</label>
									<input asp-for="Broker.INN" class="form-control" type="text" maxlength="10" id="brokerINNCreate" required />
									<span asp-validation-for="Broker.INN" id="INNError" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label">КПП</label>
									<input asp-for="Broker.KPP" class="form-control" type="text" maxlength="9" id="brokerKPPCreate" required />
									<span asp-validation-for="Broker.KPP" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label">ОТКМО</label>
									<input asp-for="Broker.OKTMO" class="form-control" type="text" maxlength="11" id="brokerOTKMOCreate" required />
									<span asp-validation-for="Broker.OKTMO" class="text-danger"></span>
								</div>
							</div>

							<div class="dataSlice">
								<div class="form-group">
									<label class="control-label">Бизнес адрес</label>
									<input asp-for="Broker.BusinessAddress" class="form-control" type="text" id="brokerAddressCreate" required />
									<span asp-validation-for="Broker.BusinessAddress" class="text-danger"></span>
								</div>

								<div class="form-group">
									<label class="control-label">E-mail</label>
									<input asp-for="Broker.Email" class="form-control" type="email" id="uLoginCreate" required />
									<span asp-validation-for="Broker.Email" class="text-danger" id="mailBrokerCreateError"></span>
								</div>
								<div class="form-group">
									<label class="control-label">Телефон</label>
									<input asp-for="Broker.Phone" class="form-control" type="tel" placeholder="+7 (901) 168-12-12" maxlength="18" id="uPhoneCreate" />
									<span class="text-danger" asp-validation-for="Broker.Phone"></span>
								</div>
								<div class="form-group">
									<label class="control-label">Директор:</label>
									<input asp-for="Broker.FullNameOfTheDirector" class="form-control" type="text" id="brokerDirCreate" />
									<span asp-validation-for="Broker.FullNameOfTheDirector" class="text-danger"></span>
								</div>
							</div>
						</div>


						<div class="myRow">
							<button class="myButton" type="submit">Добавить</button>
						</div>
					</form>
				</div>
			
			</div>
		</div>
	</section>

	<div class="myRow space-between">
		<div class="dataSlice">
			<label>Всего заявок: @Model.Brokers.Count()</label>
			<label>Новых заявок: @Model.Brokers.Where(x => x.TypeOfRequestId == 1).Count()</label>
			<label>Принятых заявок: @Model.Brokers.Where(x => x.TypeOfRequestId == 2).Count()</label>
			<label>Отклоненных заявок: @Model.Brokers.Where(x => x.TypeOfRequestId == 3).Count()</label>
		</div>
		<a onclick="CreateForm_Open()" class="myButton-support control-width">
			Добавить
		</a>
	</div>

	<div class="myRow tb_header space-between">
		<h1>Заявки</h1>
		<div class="search-container text-center">
			<form method="get" asp-page="./Search">
				<div class="input-group">
					<input type="text" name="query" class="form-control search-input" placeholder="Вводить название брокера" value="@Model.Query" />
					<input type="hidden" name="sortOrder" value="@Model.CurrnerSort" />
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary search-button">Поиск</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="tb_Box">
		<table class="table">
			<thead>
				<tr>
					<th>
						Иконка
					</th>
					<th>
						<a asp-route-sortOrder="@Model.sortName" asp-route-Query="@Model.Query">
							Название
						</a>
					</th>
					<th>
						<a asp-route-sortOrder="@Model.sortDir" asp-route-Query="@Model.Query">
							Директор
						</a>
					</th>
					<th>
						<a asp-route-sortOrder="@Model.sortStatus" asp-route-Query="@Model.Query">
							Статус
						</a>
					</th>
					<th>
						Действие
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Brokers)
				{
					<tr>
						<td>
							<div class="hd-imgBlock">
								<img src="data:image/png;base64, @item.SourseFile" />
							</div>
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.NameBroker)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.FullNameOfTheDirector)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.TypeOfRequest.Name)
						</td>
						<td class="tbColCenter">
							<form method="post">
								<input type="number" name="brokerId" value="@item.Id" style="display:none"/>
								@if (item.TypeOfRequestId == 3)
								{
									<button type="submit" name="action" value="positive_btn">Принять</button>
									<span>|</span>
								}
								@if (item.TypeOfRequestId == 1 || item.TypeOfRequestId == 2)
								{
									
									<button type="submit" name="action" value="negative_btn">Отклонить</button>
									<span>|</span>
								}
							</form>
							
							<a onclick="optionFormOpenDop(@item.Id)">Детали</a>

						</td>


					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<script>
	const baseUrl = '@Model.apiSettings.BaseUrl';


	let input = document.getElementById("brokerINNCreate");
	input.addEventListener("keyup", (e) => { formatINN(e.target); });
	input.addEventListener("keypress", (e) => { formatINN(e.target); });

	function formatINN(input) {
		var input_val = input.value;
		console.log('input.value: ', input.value);
		if (input_val === "") { return; }
		input_val = input_val.replace(/\D/g, "");
		input.value = input_val;
		var updated_len = input_val.length;


		if(updated_len < 10) input.style.borderBottom = '2px solid red';
		else input.style.borderBottom = '2px solid black';
	}

	let inputOTKMO = document.getElementById("brokerOTKMOCreate");
	inputOTKMO.addEventListener("keyup", (e) => { formatOTKMO(e.target); });
	inputOTKMO.addEventListener("keypress", (e) => { formatOTKMO(e.target); });

	function formatOTKMO(inputOTKMO) {
		var input_val = inputOTKMO.value;
		console.log('input.value: ', inputOTKMO.value);
		if (input_val === "") { return; }
		input_val = input_val.replace(/\D/g, "");
		inputOTKMO.value = input_val;
		var updated_len = input_val.length;


		if(updated_len < 11) inputOTKMO.style.borderBottom = '2px solid red';
		else inputOTKMO.style.borderBottom = '2px solid black';
	}

	let inputKPP = document.getElementById("brokerKPPCreate");
	inputKPP.addEventListener("keyup", (e) => { formatKPP(e.target); });
	inputKPP.addEventListener("keypress", (e) => { formatKPP(e.target); });

	function formatKPP(inputKPP) {
		var input_val = inputKPP.value;
		console.log('input.value: ', inputKPP.value);
		if (input_val === "") { return; }
		input_val = input_val.replace(/\D/g, "");
		inputKPP.value = input_val;
		var updated_len = input_val.length;


		if(updated_len < 9) inputKPP.style.borderBottom = '2px solid red';
		else inputKPP.style.borderBottom = '2px solid black';
	}

	async function validationCreateBroker(event){
		event.preventDefault();


		var file = document.getElementById('BrokerImgCreate').files[0];
		var NameBroker = document.getElementById('BrokerNameCreate').value;
		// var UrisidikciiyId = document.getElementById('Urisdiction').value;

		var INNBlock = document.getElementById('brokerINNCreate');

		var INN = INNBlock.value;
		var KPP = document.getElementById('brokerKPPCreate').value;
		var OKTMO = document.getElementById('brokerOTKMOCreate').value;
		var BusinessAddress = document.getElementById('brokerAddressCreate').value;
		var Phone = document.getElementById('uPhoneCreate').value;
		var Email = document.getElementById('uLoginCreate').value;
		var FullNameOfTheDirector = document.getElementById('brokerDirCreate').value;

		if(Phone.length < 18) return false;

		var INNError = document.getElementById('INNError');
		var isINN = await validationINN(INN);
		console.log('isINN: ', isINN);
		if (isINN != false ) {
			INNError.textContent = 'Данный номер уже используется!';
			INNBlock.style.borderBottom = '2px solid red';
			return false;
		}

		var data = CreateBroker(file, NameBroker, INN, KPP, OKTMO, BusinessAddress, Phone, Email, FullNameOfTheDirector);

		console.log(data);

		if(data == 1) {
			INNBlock.style.borderBottom = '2px solid red';
			INNBlock.focus();
			// INNError.textContent = 'Данный номер уже используется!';
			showNotification('Данный ИНН уже используется!');

			return false;
		}
		if(data == 0)
		{
			INNBlock.style.borderBottom = '0';
			INNError.textContent = '';
		}

		showNotification_positive("Брокер зарегестрирован");
		setTimeout(() => event.target.submit(), 4000);
		return true;
	}


	async function validationINN(inn){
		try {

			const response = await fetch(baseUrl+'Universal/ValidationINN', {
				method:'POST',
				headers:{
					'Content-Type':'application/json'
				},
				body: JSON.stringify({ toMail: inn })
			});
			if (!response.ok) {
				throw new Error('Network response was not ok');
				return false;
			}
			const data = await response.json();
			return data == 1;
		}
		catch (error) {
			console.error('There was a problem with the fetch operation:', error);
			return false;
		}
	}


	let inputPhone = document.getElementById("portfile_phone");
	inputPhone.addEventListener("keyup", (e) => { formatinputPhone(e.target); });
	inputPhone.addEventListener("keypress", (e) => { formatinputPhone(e.target); });


	let inputPhoneCreate = document.getElementById("uPhoneCreate");
	inputPhoneCreate.addEventListener("keyup", (e) => { formatinputPhone(e.target); });
	inputPhoneCreate.addEventListener("keypress", (e) => { formatinputPhone(e.target); });

	function formatinputPhone(inputPhone) {
		var input_val = inputPhone.value;
		if (input_val === "") { return; }
		var original_len = input_val.length;
		var caret_pos = inputPhone.selectionStart;
		input_val = input_val.replace(/\D/g, "");
		if (input_val.length > 0 && input_val[0] !== "7") {
			input_val = "7" + input_val;
		}
		if (input_val.length > 11) {
			input_val = input_val.substring(0, 11);
		}
		var formatted = "+";

		if (input_val.length > 0) {
			formatted += input_val[0];
		}
		if (input_val.length > 1) {
			formatted += " (" + input_val.substring(1, 4);
		}
		if (input_val.length >= 4) {
			formatted += ")";
		}
		if (input_val.length >= 4) {
			formatted += " " + input_val.substring(4, 7);
		}
		if (input_val.length >= 7) {
			formatted += "-" + input_val.substring(7, 9);
		}
		if (input_val.length >= 9) {
			formatted += "-" + input_val.substring(9, 11);
		}

		inputPhone.value = formatted;
		var updated_len = formatted.length;
		caret_pos = updated_len - original_len + caret_pos;
		if (caret_pos < 0) caret_pos = 0;
		inputPhone.setSelectionRange(caret_pos, caret_pos);


		if (input_val.length < 11) {
			inputPhone.style.borderBottom = '2px solid red';
		} else {
			inputPhone.style.borderBottom = '2px Solid black';
		}
	}
</script>