@page
@model Diplom_Utkin.Pages.AdminePage.RequestsModel
@{
	ViewData["Title"] = "Кабинет";
}

<div class="window-box kabinet-box">
	@await Html.PartialAsync("Headers/_AdminHeader")

	<section>
		<div id="overlay" class="overlay"></div>
		<div id="sideMenu" class="side-menu">
			<button class="myButton" onclick="profilClose()">Закрыть</button>
			<form method="post">
				<div class="myRow">
					<div class="form-group">
						<label asp-for="_user.Loggin" class="control-label">E-mail</label>
						<input asp-for="_user.Loggin" class="form-control" id="portfile_mail" type="email" required disabled />

					</div>
					<div>
						<a onclick="updateLogin()"><img src="/Image/icon-edit.svg" /></a>

					</div>
				</div>
				<span asp-validation-for="_user.Loggin" class="text-danger"></span>

				<div class="myRow">
					<div class="form-group">
						<label asp-for="_user.Phone" class="control-label">Телефон</label>
						<input asp-for="_user.Phone" class="form-control" id="portfile_phone" type="tel" required disabled />

					</div>
					<div>
						<a onclick="updatePhone()"><img src="/Image/icon-edit.svg" /></a>

					</div>
				</div>
				<span asp-validation-for="_user.Phone" class="text-danger"></span>
				<button class="myButton" style="display:none" name="action" onclick="Update_Method_Profile()" id="portfile_save_btn" value="NoN">Сохранть</button>
			</form>
		</div>
		<div id="popup" class="popup kabinetSupportBox">
			<div class="poputContent">
				<div class="top_">
					<div>
						<img onclick="closePopup()" src="/Image/krest.png" alt="Alternate Text" />
					</div>
				</div>

				@* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
				<label id="CreateForm" style="display:none"></label>
				<form id="optionForm" method="post">
					<h1>Детали</h1>
					<input style="visibility:hidden" name="TargetbrokerId" id="targetId" type="number" />
					<div class="form-group myRow">
						<div class="hd-imgBlock">
							<img id="targetBrokerImg" />
						</div>
						<label id="BrokerName"></label>
					</div>
					<div class="dataSlice">
						<label id="brokerINN"></label>
						<label id="brokerKPP"></label>
						<label id="brokerOTKMO"></label>
						<label id="brokerPhone"></label>
						<label id="brokerAddress"></label>
						<label id="brokerEmail"></label>
					</div>
					<div class="myRow">
						<button id="positive_btn" class="myButton" name="action" type="submit" value="positive_btn">Принять</button>
						<button id="negative_btn" class="myButton" name="action" type="submit" value="negative_btn">Отклонить</button>
					</div>
				</form>

				@* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
				
			</div>
		</div>
	</section>

	<div class="myRow">
		<div class="dataSlice">
			<label>Всего заявок: @Model.Brokers.Count()</label>
			<label>Принятых заявок: @Model.Brokers.Where(x => x.TypeOfRequestId == 2).Count()</label>
			<label>Отклоненных заявок: @Model.Brokers.Where(x => x.TypeOfRequestId == 3).Count()</label>
		</div>
	</div>
	

	<div class="tb_Box">
		<h1>заявки</h1>
		<table class="table">
			<thead>
				<tr>
					<th>
						Иконка
					</th>
					<th>
						<a>
							Название
						</a>
					</th>
					<th>
						<a>
							Директор
						</a>
					</th>
					<th>
						<a>
							Статус
						</a>
					</th>
					<th>
						Действие
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Brokers)
				{
					<tr>
						<td>
							<div class="hd-imgBlock settings">
								<img src="data:image/png;base64, @item.SourseFile" />
							</div>
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.NameBroker)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.FullNameOfTheDirector)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.TypeOfRequest.Name)
						</td>
						<td class="tbColCenter">
							<form method="post">
								<input type="number" name="brokerId" value="@item.Id" style="display:none"/>
								@if (item.TypeOfRequestId == 3)
								{
									<button type="submit" name="action" value="positive_btn">Принять</button>
									<span>|</span>
								}
								<button type="submit" name="action" value="negative_btn">Отклонить</button>
							</form>
							<span>|</span>
							<a onclick="optionFormOpenDop(@item.Id)">Детали</a>

						</td>


					</tr>
				}
			</tbody>
		</table>
	</div>
</div>