@page
@model Diplom_Utkin.Pages.AdminePage.UsersListModel
@{
	ViewData["Title"] = "Кабинет";
}

<div class="window-box kabinet-box kabinetHeight">
	@await Html.PartialAsync("Headers/_AdminHeader")

	<section>
		<div id="overlay" class="overlay"></div>
		<div id="sideMenu" class="side-menu">
			<h1>Профиль</h1>
			<form method="post" onsubmit="return Update_Method_Profile(event)">
				<div class="myRow">
					<div class="form-group">
						<label asp-for="_user.Loggin" class="control-label">E-mail</label>
						<input asp-for="_user.Loggin" class="form-control" id="portfile_mail" type="email" required disabled />
					</div>
					<div>
						<a onclick="updateLogin()"><img class="svgEdit" src="/Image/icon-edit.svg" /></a>
					</div>
				</div>
				<span asp-validation-for="_user.Loggin" class="text-danger"></span>
			
				<div class="myRow">
					<div class="form-group">
						<label asp-for="_user.Phone" class="control-label">Телефон</label>
						<input asp-for="_user.Phone" class="form-control" id="portfile_phone" type="tel" required disabled />

					</div>
					<div>
						<a onclick="updatePhone()"><img class="svgEdit" src="/Image/icon-edit.svg" /></a>

					</div>
				</div>
				<span asp-validation-for="_user.Phone" id="profilePhoneError" class="text-danger"></span>
				<button class="myButton" style="display:none" name="action" type="submit" id="portfile_save_btn" value="NoN">Сохранть</button>
			</form>
		</div>
		<div id="popup" class="popup kabinetSupportBox">
			<div class="poputContent">
				<div class="top_">
					<div>
						<form method="post">
							<button name="NoN"><img src="/Image/krest.png" alt="Alternate Text" /></button>
						</form>
					</div>
				</div>

				@* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@

				<form id="optionForm" method="post">
					<h1>Детали</h1>
					<input style="visibility:hidden" name="TargetUserId" id="targetId" type="number" />
					<div class="dataSlice">
						<label id="uLogin"></label>
						<label id="uPhone"></label>
					</div>
					<div class="myRow">
						<a class="myButton control-width" onclick="editFormOpen()">Редактировать</a>
						<button class="myButton" name="action" type="submit" value="delete_btn">Удалить</button>
					</div>
				</form>

				<form id="editForm" onsubmit="return Update_Method(event)" method="post">
					<h1>Редактирование</h1>
					<input style="visibility:hidden" name="TargetUserId" id="targetId_Edit" type="number" />
					<div class="dataSlice" id="dataSlice_broker" style="display:none">
					</div>
					<div class="dataSlice">


						<div class="form-group">
							<label class="control-label">E-mail</label>
							<input class="form-control" type="email" id="uLoginEdit" required />
							<span  class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class="control-label">Телефон</label>
							<input class="form-control" placeholder="+7 (125) 125-12-45" type="tel"  maxlength="18" id="uPhoneEdit" />
							<span class="text-danger"></span>
						</div>
					</div>

					<div class="myRow">
						<button class="myButton" name="action" type="submit" value="NoN">Сохранить</button>
						<button class="myButton" name="action" style="display:none" value="create">Добавить</button>
						<button class="myButton" onclick="closePopup()">Отменить</button>
					</div>
				</form>
				@* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@

			</div>
		</div>
	</section>

	<div class="dataSlice">
		<label>Клиентов: @Model.Users.Count()</label>
	</div>

	<div class="myRow tb_header space-between">
		<h1>Клиенты</h1>
		<div class="search-container text-center">
			<form method="get" asp-page="./Search">
				<div class="input-group">
					<input type="text" name="query" class="form-control search-input" placeholder="Введите E-mail" value="@Model.Query" />
					<input type="hidden" name="sortOrder" value="@Model.CurrnerSort" />
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary search-button">Поиск</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="tb_Box">
		<table class="table">
			<thead>
				<tr>
					<th>
						<a asp-route-sortOrder="@Model.sortMail" asp-route-Query="@Model.Query">
							Логин
						</a>
					</th>
					<th>
						<a asp-route-sortOrder="@Model.sortPhone" asp-route-Query="@Model.Query">
							Телефон
						</a>
					</th>
					<th>
						Действие
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Users)
				{
					<tr>
						
						<td>
							@Html.DisplayFor(modelItem => item.Loggin)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Phone)
						</td>
						<td class="tbColCenter">
							<form method="post">
								<input type="number" id="userId" name="userId" value="@item.Id" style="display:none" />
								<a onclick="fastEditFormOpen(@item.Id)">Редактировать</a>
								<span>|</span>
								<button name="action" type="submit" value="delete_btn">Удалить</button>
							</form>
							<span>|</span>
							<a onclick="userFormOpen(@item.Id)">Детали</a>
						</td>


					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<script>
	let inputPhoneEdit = document.getElementById("uPhoneEdit");
	inputPhoneEdit.addEventListener("keyup", (e) => { formatinputPhone(e.target); });
	inputPhoneEdit.addEventListener("keypress", (e) => { formatinputPhone(e.target); });

	let inputPhone = document.getElementById("portfile_phone");
	inputPhone.addEventListener("keyup", (e) => { formatinputPhone(e.target); });
	inputPhone.addEventListener("keypress", (e) => { formatinputPhone(e.target); });

	function formatinputPhone(inputPhone) {
		var input_val = inputPhone.value;
		if (input_val === "") { return; }
		var original_len = input_val.length;
		var caret_pos = inputPhone.selectionStart;
		input_val = input_val.replace(/\D/g, "");
		if (input_val.length > 0 && input_val[0] !== "7") {
			input_val = "7" + input_val;
		}
		if (input_val.length > 11) {
			input_val = input_val.substring(0, 11);
		}
		var formatted = "+";

		if (input_val.length > 0) {
			formatted += input_val[0];
		}
		if (input_val.length > 1) {
			formatted += " (" + input_val.substring(1, 4);
		}
		if (input_val.length >= 4) {
			formatted += ")";
		}
		if (input_val.length >= 4) {
			formatted += " " + input_val.substring(4, 7);
		}
		if (input_val.length >= 7) {
			formatted += "-" + input_val.substring(7, 9);
		}
		if (input_val.length >= 9) {
			formatted += "-" + input_val.substring(9, 11);
		}

		inputPhone.value = formatted;
		var updated_len = formatted.length;
		caret_pos = updated_len - original_len + caret_pos;
		if (caret_pos < 0) caret_pos = 0;
		inputPhone.setSelectionRange(caret_pos, caret_pos);


		if (input_val.length < 11) {
			inputPhone.style.borderBottom = '2px solid red';
		} else {
			inputPhone.style.borderBottom = '2px Solid black';
		}
	}
</script>