@page
@using Diplom_Utkin.Model
@model Diplom_Utkin.Pages.userPage.IndexModel
@{
	ViewData["Title"] = "Кабинет";
}

<div class="window-box kabinet-box">
	@await Html.PartialAsync("Headers/_UserHeader")
	<section>
		<div id="overlay" class="overlay"></div>
		<div id="sideMenu" class="side-menu">
			<button class="myButton" onclick="profilClose()">Закрыть</button>
			<form method="post">
				<div class="myRow">
					<div class="form-group">
						<label asp-for="_user.Loggin" class="control-label">E-mail</label>
						<input asp-for="_user.Loggin" class="form-control" type="email" required disabled />

					</div>
					<div>
						<button type="submit" onclick="updateLogin()"><img src="/Image/icon-edit.svg" /></button>

					</div>
				</div>
				<span asp-validation-for="_user.Loggin" class="text-danger"></span>
			</form>

			<form method="post">
				<div class="myRow">
					<div class="form-group">
						<label asp-for="_user.PaswordHash" class="control-label">Телефон</label>
						<input asp-for="_user.PaswordHash" class="form-control" type="tel" required disabled />

					</div>
					<div>
						<button type="submit" onclick="updateLogin()"><img src="/Image/icon-edit.svg" /></button>

					</div>
				</div>
				<span asp-validation-for="_user.PaswordHash" class="text-danger"></span>
			</form>



		</div>
		<div class="popup">
			<div class="poputContent">
				<div class="top_">
					<div>
						<img onclick="closePopup()" src="/Image/krest.png" alt="Alternate Text" />
					</div>

				</div>
				<form id="myForm" method="get" onsubmit="return moneuBtn()">
					<h1 id="popTitle">Пополнение счета</h1>
					<div class="form-group">
						<label asp-for="targetSumm" class="control-label">Сумма</label>
						<input asp-for="targetSumm" id="summText" class="form-control" type="number" required />
						<span asp-validation-for="targetSumm" id="summTextError" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="isVuvod" class="form-control" type="number" id="popOperationType" />
					</div>
					<button class="myButton" name="action" type="submit" value="btnBalans">Выполнить</button>

				</form>
			</div>
		</div>

	</section>
	<div id="portfel-block">
		<div class="informations d-inline-flex">
			<div>
				<h1>Структура портфеля</h1>
				<canvas id="myPieChart" width="700" height="500"></canvas>

				<script>
					var ctx = document.getElementById('myPieChart').getContext('2d');

					var myPieChart = new Chart(ctx, {
						type: 'pie',
						data: {
							labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.chartName)), // Укажите свои метки
							datasets: [{
								// label: 'Примечание',
								data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.chartData)), // Укажите данные для каждой категории

							}]
						},
						options: {
							animation: {
								duration: 0 // Отключаем анимацию
							},
							responsive: true,
							plugins: {
								legend: {
									position: 'right',
									labels: {
										font:{
											size:18
										}
									}
								}
							}
						}
					});
				</script>
			</div>

			<div class="d-inline-flex salery-box">
				<div class="raschotBox">
					<form action="#" method="get">
						<div class="d-inline-flex">
							<h1>Рассчитать доходность</h1>
							<div class="form-group">
								<label asp-for="startDate" class="control-label">От</label>
								<input asp-for="startDate" id="startDate" class="form-control" type="date" value="@DateTime.Now" required />
								<span asp-validation-for="startDate" id="StartDateError" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="endDate" class="control-label">До</label>
								<input asp-for="endDate" id="endDate" class="form-control" type="date" value="@DateTime.Now" required />
								<span asp-validation-for="endDate" id="endDateError" class="text-danger"></span>
							</div>
							<div class="form-group">
								<button class="myButton" name="action" type="submit" value="raschot_Btn">Рассчитать</button>
							</div>
						</div>
					</form>
					<div>
						<h1>Прибыль:</h1>
						<div class="priblValue">
							<label asp-for="Pribl" class="control-label">@Model.Pribl</label>
							<span asp-validation-for="Pribl" class="text-danger"></span>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="tb_Box">
			<h1>Инструменты</h1>
			<table class="table">
				<thead>
					<tr>
						<th>
							Иконка
						</th>
						<th>
							<a asp-route-sortOrder="@Model.sortName">
								Название
							</a>
						</th>
						<th>
							<a asp-route-sortOrder="@Model.sortSum">
								Стоимость
							</a>
						</th>
						<th>
							Действие
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.InvestToolsList)
					{
						<tr>
							<td>
								<div class="hd-imgBlock settings">
									@* 		<img src="@item.InvestTool.Source"/> *@
								</div>
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.InvestTool.NameInvestTool)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.AllManey) ₽
							</td>
							<td class="tbColCenter">
								@if (!item.InvestTool.isClosed)
								{
									<a asp-page="#" asp-route-id="@item.InvestTool.Id">Докупить</a>
									<span> | </span>
									<a asp-page="#" asp-route-id="@item.InvestTool.Id"> Продать </a>
								}
								else
								{
									<text>
										Заморожен
									</text>
								}

							</td>


						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
