@page
@model Diplom_Utkin.Pages.userPage.VitrinaModel
@{
	ViewData["Title"] = "Витрина";
}
<div class="window-box kabinet-box">
	@await Html.PartialAsync("Headers/_UserHeader")
	<section>
		<div id="overlay" class="overlay"></div>
		<div id="sideMenu" class="side-menu">
			<button class="myButton" onclick="profilClose()">Закрыть</button>
			<form method="post">
				<div class="myRow">
					<div class="form-group">
						<label asp-for="_user.Loggin" class="control-label">E-mail</label>
						<input asp-for="_user.Loggin" class="form-control" id="portfile_mail" type="email" required disabled />

					</div>
					<div>
						<a onclick="updateLogin()"><img src="/Image/icon-edit.svg" /></a>

					</div>
				</div>
				<span asp-validation-for="_user.Loggin" class="text-danger"></span>

				<div class="myRow">
					<div class="form-group">
						<label asp-for="_user.Phone" class="control-label">Телефон</label>
						<input asp-for="_user.Phone" class="form-control" id="portfile_phone" type="tel" required disabled />

					</div>
					<div>
						<a onclick="updatePhone()"><img src="/Image/icon-edit.svg" /></a>

					</div>
				</div>
				<span asp-validation-for="_user.Phone" class="text-danger"></span>
				<button class="myButton" style="display:none" name="action" onclick="Update_Method_Profile()" id="portfile_save_btn" value="NoN">Сохранть</button>
			</form>
		</div>
		<div class="popup kabinetSupportBox">
			<div class="poputContent">
				<div class="top_">
					<div>
						<img onclick="closePopup()" src="/Image/krest.png" alt="Alternate Text" />
					</div>
				</div>
				<form id="myForm" method="post" onsubmit="return moneuBtn()">
					<h1 id="popTitle">Пополнение счета</h1>
					<div class="card">
						<div class="card-front">
							<div class="card-number">
								<div class="form-group">
									<label asp-for="_cardModel.Number" class="control-label">Номер карты</label>
									<input asp-for="_cardModel.Number" id="cardNumber" onchange="formatCart(this)" oninput="formatCart(this)" placeholder="0000 0000 0000 0000" class="form-control" type="text" required />
									<span asp-validation-for="_cardModel.Number" id="cardNumberError" class="text-danger"></span>
								</div>
							</div>
							<div class="card-details">
								<div class="card-name">
									<img src="/Image/payment_systemMIR.png" />
								</div>
								<div class="expiration-date">
									<label>Срок</label>
									<input asp-for="_cardModel.ActivityDate" id="cardActivityDate" onchange="formatDate(this)" oninput="formatDate(this)" placeholder="MM/YY" class="form-control" type="text" required />
									<span asp-validation-for="_cardModel.ActivityDate" id="cardActivityDateError" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="card-back">
							<div class="black-stripe"></div>
							<div class="cvc">
								<label asp-for="_cardModel.SVS_Code" class="control-label">CVC</label>
								<input asp-for="_cardModel.SVS_Code" id="cardCode" onchange="formatCode(this)" oninput="formatCode(this)" placeholder="000" class="form-control" type="text" required />
								<span asp-validation-for="_cardModel.SVS_Code" id="cardSVS_CodeError" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="myRow">
						<div class="form-group">
							<label asp-for="targetSumm" class="control-label">Сумма</label>
							<input asp-for="targetSumm" id="summText" class="form-control" type="number" required />
							<span asp-validation-for="targetSumm" id="summTextError" class="text-danger"></span>
						</div>
						<button class="myButton" name="action" onclick="isValidMony()" type="submit" value="btnBalans">Выполнить</button>
					</div>
					<div class="form-group">
						<input asp-for="isVuvod" class="form-control" type="number" id="popOperationType" />
					</div>
				</form>
			</div>
		</div>
	</section>
	<div id="vitrina">
		<form method="get" class="scriner">
			<div class="form-group">
				<label asp-for="targetSumm" class="control-label">Тип ценной бумаги</label>
				<select>
					<option selected></option>
					<option>Акция</option>
					<option>Облигация</option>
					<option>Фонд</option>
				</select>
			</div>
			<div class="form-group">
				<label asp-for="targetSumm" class="control-label">Название</label>
				<input type="text"/>
			</div>
			<div class="form-group">
				<label asp-for="targetSumm" class="control-label">Брокер</label>
				<select>
					<option selected></option>
					<option>Акция</option>
					<option>Облигация</option>
					<option>Фонд</option>
				</select>
			</div>
			<div class="form-group">
				<label asp-for="targetSumm" class="control-label">Цена</label>
				<input type="number"/>
			</div>
			<div>
				<button type="submit">Найти</button>
			</div>
		</form>
		<div class="tb_Box">
			<table class="table">
				<thead>
					<tr>
						<th>
							Иконка
						</th>
						<th>
							<a asp-route-sortOrderAll="@Model.sortName" onclick="openVitrina()">
								Название
							</a>
						</th>
						<th>
							<a asp-route-sortOrderAll="@Model.sortBroker" onclick="openVitrina()">
								Брокер
							</a>
						</th>
						<th>
							Действие
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.AllInvestToolsList)
					{
						<tr>
							<td>
								<div class="hd-imgBlock settings">
									<img src="data:image/png;base64, @item.ImageSource" />
								</div>
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.NameInvestTool)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Brokers.NameBroker)
							</td>
							<td class="tbColCenter">
								@if (!item.isClosed)
								{
									<a asp-page="#" asp-route-id="@item.Id">Купить</a>
								}
								else
								{
									<text>
										Заморожен
									</text>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	let input = document.getElementById("cardNumber");
	input.addEventListener("keyup", (e) => { formatCart(e.target); });
	input.addEventListener("keypress", (e) => { formatCart(e.target); });

	let inputDate = document.getElementById("cardActivityDate");
	inputDate.addEventListener("keyup", (e) => { formatDate(e.target); });
	inputDate.addEventListener("keypress", (e) => { formatDate(e.target); });

	let inputCode = document.getElementById("cardCode");
	inputCode.addEventListener("keyup", (e) => { formatCode(e.target); });
	inputCode.addEventListener("keypress", (e) => { formatCode(e.target); });


	function formatCart(input) {
		var input_val = input.value;
		console.log('input.value: ', input.value);
		if (input_val === "") { return; }
		var original_len = input_val.length;
		var caret_pos = input.selectionStart;
		input_val = input_val.replace(/\D/g, "").replace(/\B(?=(\d{4})+(?!\d))/g, " ");
		input.value = input_val;
		var updated_len = input_val.length;
		caret_pos = updated_len - original_len + caret_pos;
		input.setSelectionRange(caret_pos, caret_pos);

		if(updated_len < 19) input.style.border = '2px solid red';
		else input.style.border = '0px';
	}
	function formatDate(inputDate) {
		var input_val = inputDate.value;
		if (input_val === "") { return; }
		var original_len = input_val.length;
		var caret_pos = inputDate.selectionStart;
		input_val = input_val.replace(/\D/g, "");
		if (input_val.length > 2) {
			input_val = input_val.substring(0, 2) + "/" + input_val.substring(2);
		}
		inputDate.value = input_val;
		var updated_len = input_val.length;
		caret_pos = updated_len - original_len + caret_pos;
		inputDate.setSelectionRange(caret_pos, caret_pos);

		if(inputDate.value.length < 5 || Number(inputDate.value.substring(0, 2)) > 12) inputDate.style.border = '2px solid red';
		else {
			var curentDate = new Date();
			var month = Number(inputDate.value.substring(0, 2)) - 1;
			var year = 2000 + Number(inputDate.value.substring(3, 5));

			var userDate = new Date(year, month);

			if(userDate < curentDate) inputDate.style.border = '2px solid red';
			else inputDate.style.border = '0px';
		}
	}

	function formatCode(inputCode) {
		var input_val = inputCode.value;
		if (input_val === "") { return; }
		var original_len = input_val.length;
		var caret_pos = inputCode.selectionStart;
		input_val = input_val.replace(/\D/g, "");

		inputCode.value = input_val;
		var updated_len = input_val.length;
		caret_pos = updated_len - original_len + caret_pos;
		inputDate.setSelectionRange(caret_pos, caret_pos);

		if(updated_len < 3) inputCode.style.border = '2px solid red';
		else inputCode.style.border = '0px';
	}

	function isValidMony()
	{
		let input = document.getElementById("cardNumber");
		let inputDate = document.getElementById("cardActivityDate");
		let inputCode = document.getElementById("cardCode");
		let inputMony = document.getElementById("summText");

		if(input.value.length < 19) input.style.border = '2px solid red';
		else input.style.border = '0px';

		if(inputDate.value.length < 5 || Number(inputDate.value.substring(0, 2)) > 12) inputDate.style.border = '2px solid red';
		else {
			var curentDate = new Date();
			var month = Number(inputDate.value.substring(0, 2)) - 1;
			var year = 2000 + Number(inputDate.value.substring(3, 5));

			console.log('month', month+1);
			console.log('year', year);

			var userDate = new Date(year, month);

			if(userDate < curentDate) inputDate.style.border = '2px solid red';
			else inputDate.style.border = '0px';
		}

		if(inputCode.value.length < 3) inputCode.style.border = '2px solid red';
		else inputCode.style.border = '0px';

		if(inputMony.value.replace('0', '').length < 1 || Number(inputMony.value) < 1) inputMony.style.borderBottom = '2px solid red';
		else inputMony.style.borderBottom = '2px Solid #000000';
	}

</script>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
